MLFLOW_TRACKING_URI=https://dagshub.com/username/repo.mlflow
MLFLOW_TRACKING_USERNAME=your_username
MLFLOW_TRACKING_PASSWORD=your_password
DAGSHUB_REPO_OWNER=username
DAGSHUB_REPO_NAME=repo_name
DAGSHUB_USER_TOKEN=your_access_token
