<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
</head>
<body>
    <head>Diabetes Prediction</head>
    <div class="prediction_form">
        <form action="/predict" target="_blank" method="post">
            <label for="Pregnancies">Pregnancies</label>
            <input type="number" id="Pregnancies" min="0" name="Pregnancies">
            <label for="Glucose">Glucose</label>
            <input type="number" id="glucose" min="0" name="Glucose">
            <label for="BloodPressure">Blood Pressure</label>
            <input type="number" id="blood_pressure" name="BloodPressure">
            <label for="SkinThickness">Skin Thickness</label>
            <input type="number" id="skin_thickness" name="SkinThickness">
            <label for="Insulin">Insulin Rate</label>
            <input type="number" id="insulin" name="Insulin">
            <label for="BMI">BMI Rate</label>
            <input type="number" id="bmi" name="BMI">
            <label for="DiabetesPedigreeFunction">Diabetes Pedigree</label>
            <input type="number" id="diabetes_pedigree" step="0.001" min="0" name="DiabetesPedigreeFunction">
            <label for="Age">Age</label>
            <input type="number" id="age" name="Age">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>